*.jou
*.log
*.str
*.zip
*.debug
.Xil
venv
.venv
vunit_out
vivado_files
.metadata/
ip_repo
.project
ps/server
ps/mic_data
bat
.vscode/c_cpp_properties.json
a.out
data*
ljud*
bitstreams_PSelf
clk_sample*
ljud
new_sample_data_new.txt
old_test_data
axi_full_test
axitest100
jacob_continue
tuva_test