*.jou
*.log
*.str
*.zip
*.debug
.Xil
venv
.venv
vunit_out
vivado_files
.metadata/
ip_repo
.project
bat
data*
ljud*
clk_sample*
ljud
.vscode/settings.json
.vscode
recorded_mic_data
filter_coefficients/filter_output.txt
filter_coefficients/filter_input.txt
